extends ./layouts/layout

block og
  - var title = "404 - Page not found"
  - var description = "Something must have gone wrong, I couldn't find the page you were lookign for. Please go back to http://timbenniks.nl."
  - var image = "http://timbenniks.nl/assets/favicon.png"
  - var url = "http://timbenniks.nl/404.html"
  +og( title, description, image, url )

block content
  body.article.404
    main( role="main" aria-labelledby="aria-content-label" )
      include ./includes/nav.jade

      header
        h1#aria-content-label 404 Page Not Found
        h2 Ahhhhhhhhhhh! This page doesn't exist...

      article
        p Not to worry. You can either head back to my #[a( href="http://timbenniks.nl" ) homepage], or sit there and listen to a goat scream like a human.

        figure
          .fluid-width-video-wrapper
            iframe( frameborder="0", webkitallowfullscreen, allowfullscreen, src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&rel=0&showinfo=0&controls=0&iv_load_policy=3&loop=1&playlist=SIaFtAKnqBU&modestbranding=1&autoplay=1" )
          figcaption A goat&hellip;
