doctype
html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
    meta( name="viewport" content="width=device-width,initial-scale=1,user-scalable=1,minimum-scale=1,maximum-scale=1" )

    meta( name="author" content="Tim Benniks" )
    meta( name="description" content="From fat and sick to slim and happy." )
    meta( name="keywords" content="Fitness story" )

    meta( name="google-site-verification" content="El5Wtr19CHQY1u_sQOjbuusrXqYCt6I6n3OJSyZEPAg" )

    link( rel="apple-touch-icon-precomposed" href="http://timbenniks.nl/assets/favicon.png" )
    link( rel="apple-touch-icon-precomposed" sizes="72x72" href="http://timbenniks.nl/assets/favicon.png" )
    link( rel="apple-touch-icon-precomposed" sizes="114x114" href="http://timbenniks.nl/assets/favicon.png" )
    link( rel="apple-touch-icon-precomposed" sizes="144x144" href="http://timbenniks.nl/assets/favicon.png" )
    link( rel="shortcut icon" href="http://timbenniks.nl/assets/favicon.png" )

    meta( property="og:title" content="My fitness story" )
    meta( property="og:image" content="http://timbenniks.nl/assets/3.jpg" )
    meta( property="og:url" content="http://timbenniks.nl/marathoner.html" )
    meta( property="og:site_name" content="Tim Benniks, web-developer" )
    meta( property="og:description" content="From fat and sick to slim and happy." )
    meta( property="og:type" content="Website" )

    title My fitness story

    link( rel="stylesheet" href="styles-#{gitVersion}.css" )

  body.article
    main( role="main" aria-labelledby="aria-content-label" )
      svg( class="johnny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve" )
        path( d="M241.888,175.27 c0.091-1.763,0.073-3.459-0.051-5.315c-14.666,3.224-7.177-17.058-12.481-24.962c-1.352-1.352-3.641-0.417-5.409-0.728 c8.113-13.627,0.79-30.482-0.354-45.044c-16.539-17.266-31.786-35.982-30.85-59.488c1.873-4.057,4.681-7.698,9.361-8.633 c8.12,1.562,15.089,6.243,22.578,9.363c11.025,1.456,18.201,11.857,28.916,14.042c14.77,9.984,31.307,19.137,45.973,31.203 c-1.562,17.162-11.336,32.763-18.723,48.365c8.217,12.065,15.188,24.546,21.113,37.444c23.924,0.521,46.6,5.825,63.136,22.674 c12.481,32.763-15.394,56.687-15.602,88.098c-4.16,23.195-4.785,44.934-5.41,69.479c13.521,9.776,23.612,23.09,31.204,37.444 c5.097,16.849,1.04,35.778-5.513,50.653c8.735-2.705,5.513,7.177,6.241,11.754c8.112-1.979,20.594-2.812,28.082,3.12 c4.161,2.807,8.529,6.968,7.802,12.479l-7.802,1.562h-38.173c-1.56-2.08-2.807-4.994-4.68-6.24 c-2.496,1.039-1.247,3.535-1.562,5.407l-14.04,0.833l-0.833-14.041c-3.12-0.521-7.177,1.246-9.36-1.562v-13.312h10.193 c3.952-16.645-2.081-32.35-15.603-41.294c-6.138-2.288-11.857-7.488-18.722-5.513c-16.33,10.609-22.261,29.123-20.282,47.639 c9.152-0.938,5.098,10.505,6.24,16.328l-10.92,1.561l-1.562,10.194h-15.603c-0.104-0.833,0.104-1.873-0.832-2.394 c-2.705-0.938-1.872,2.184-3.12,3.12h-49.094c1.249-8.425,7.801-13.938,14.77-18.723c6.553-1.561,13.938-0.729,19.553,2.394 c5.928,0.416,1.354-7.801,3.85-10.921l12.48-1.561c-7.802-21.843-5.307-48.886,8.633-67.087 c-18.408-14.354-28.915-35.363-42.957-52.317c-1.455-2.913-2.6-6.138-5.408-8.528c-14.874,10.297-31.411,16.433-47.637,23.402 c-3.017,10.088-7.697,19.45-14.042,28.083c-7.385,6.968-11.753-10.506-16.33,0c-5.201,1.562-9.464-1.978-10.921-6.24 c1.144-9.882-12.169-2.811-14.042-11.755c-3.848-6.969,7.593-13.418-0.832-19.449c-0.832-9.36,4.369-17.578,12.481-21.843 c7.697-1.56,13.001,2.704,20.282,2.288c11.961-16.643,23.818-33.389,38.275-49.093c-18.721-4.267-34.323-15.602-51.485-23.403 c-11.024,4.265-22.986,1.56-34.324,2.288c-11.129-0.625-6.241-13.21-14.042-17.162c3.745-9.569-7.697-18.619,0.728-27.251 c6.241-3.952,13.417,1.56,18.722-4.681c6.552-0.937,15.498-5.305,21.114,0.729c6.033,3.744,5.617,10.088,10.921,14.041 c24.547,0.416,47.637-4.992,69.375,4.681c7.281-7.073,15.082-15.914,24.234-20.282c0.619-1.72,1.124-3.495,1.509-5.328 c0.433-2.063,0.711-4.199,0.826-6.407" )

      header
        h1#aria-content-label My fitness story
        h2 From fat and sick to slim and happy.

      article
        p Aside from a short period in high school I have always been a chubby kid. When I lived at home my mom made sure I didn't go overboard with food. She stopped me here and there when needed and always made sure we had healthy food on the table.
        p After highschool I started living on my own and became a lot more active as a musician. I got used to a very burgundian lifestyle and started eating all kinds of junk. The free drinks for musicians also didn't help.
        p I have always been interested in muscles and posture but never had the discipline to change myself into something I liked. I quickly turned into a lazy musician. Beer and fast food, either before or after a gig, were the norm. I didn't know any better and ate highly refined foods containing a shitload of ingredients with long and incomprehensible names. Looking back it's unbelievable how little I knew about stuff I put in my body.
        p Being fat was always in the back of my mind and it nagged at me. When I reached 120kg I felt horrible and knew change was needed. I was always sweating, tired and out of breath. I had high blood pressure and was often feeling ill. Diabetus type 2 was creeping up on me.

        figure
          img(src='/assets/fitness-story/1.jpg', alt='At my worst Augustus / September 2010, 120kg / 268lbs, 36% fat')
          figcaption  At my worst. September 2010, 122kg, 36% fat

        p Even after this turning point I was still completely inadequate at sports and I didn't have any discipline. I didn't even know how to properly contract my muscles to lift something. I had no body sense at all.
        p I asked my mate #[a(href='https://www.facebook.com/chrisfinch') Chris] to help me out. He was (is) a complete legend and instantly jumped at the chance to help a friend. We started doing his "half hour of power", lifted weights and ran as often as possible.
        p Well, I tried.
        p I had excuses. Many of them. "But I had a gig last night" or "I'm still too sore from last week". I was a complete pussy and it must have frustrated Chris. But he was strong and pulled me through.
        p As I finally saw some results I overcame my disciplinary problems step by step. I changed my diet and the fat started coming of quickly. I even gained some muscle.
        p I started researching and a whole world of broscience opened up to me. I did programs like P90X, 5x5, and 4-hour body.

        figure
          img(src='/assets/fitness-story/2.jpg', alt='Lost 25kg, 20% fat.')
          figcaption Lost 25kg, 20% fat.

        p The thing that helped me most was my Facebook activity. I posted my weight daily. People would respond if it went up or down and it kept me motivated. This was the first time in my life peer pressure actually had a positive influence on my state of mind.

        figure
          img(src='/assets/fitness-story/3.jpg', alt='One year in, still 25kg down, 15% fat.')
          figcaption One year in, still 25kg down, 15% fat.

        p In April 2014 my wife and I moved to Paris. At that point I was vegan for half a year and I was at my lightest weight since I started training. We had to deal with different stress factors when we arrived and I let go of the strict livestyle a little and gained some weight again. The cheese, wine and French baguettes are too awesome not to enjoy. I'm now 95kg and Paris has officially #[a(href="http://ourparisadventure.com/paris-is-turning-me-into-a-croissant/") turned me into a croissant]. I've just started to get back into shape again and I'm training for the 2015 Paris marathon.

        figure
          img(src='http://ourparisadventure.com/wp-content/uploads/2014/05/enjoy-compressor.jpg', alt="Enjoying epic food in teh city of awesome.")
          figcaption Enjoying epic food in thw city of awesome.

        p I have been grinding away at diets and at the gym for years now and at one point in 2013 I got overtrained. I couldn't perform and only trained harder. Not good. Bouncing back into being a little chubbier has tought me that a balance between enjoying food and diet is important for a happy life.

        p I also blog about #[a(href="http://timsmealpreps.com") mealprepping].

    script( src='app-#{gitVersion}.js' )
    script.
      var _gaq=[['_setAccount','UA-6797812-3'],['_trackPageview']];
      (function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
