extends ./layouts/layout
include ./includes/og
include ./includes/image
include ./includes/author

block og
  - var title = "My fitness story"
  - var description = "From fat and sick to slim and happy."
  - var image = "http://timbenniks.nl/assets/fitness-story/2.jpg"
  - var url = "http://timbenniks.nl/fitness-story.html"
  +og( title, description, image, url )

block content
  body.article
    main( role="main" aria-labelledby="aria-content-label", itemscope, itemtype="http://schema.org/Article" )
      include ./includes/johnny.jade

      header
        meta( itemscope, itemprop="mainEntityOfPage", itemType="https://schema.org/WebPage", itemid=url )
        h1#aria-content-label( itemprop="name" ) My fitness story
        h2( itemprop="headline" ) From fat and sick to slim and happy.

      article
        p Aside from a short period in high school I have always been a chubby kid. When I lived at home my mom made sure I didn't go overboard with food. She stopped me here and there when needed and always made sure we had healthy food on the table.
        p After highschool I started living on my own and became a lot more active as a musician. I got used to a very burgundian lifestyle and started eating all kinds of junk. The free drinks for musicians also didn't help.
        p I have always been interested in muscles and posture but never had the discipline to change myself into something I liked. I quickly turned into a lazy musician. Beer and fast food, either before or after a gig, were the norm. I didn't know any better and ate highly refined foods containing a shitload of ingredients with long and incomprehensible names. Looking back it's unbelievable how little I knew about stuff I put in my body.
        p Being fat was always in the back of my mind and it nagged at me. When I reached 120kg I felt horrible and knew change was needed. I was always sweating, tired and out of breath. I had high blood pressure and was often feeling ill. Diabetus type 2 was creeping up on me.

        +image( '/assets/fitness-story/1.jpg', 'At my worst Augustus / September 2010, 120kg / 268lbs, 36% fat' )
        
        p Even after this turning point I was still completely inadequate at sports and I didn't have any discipline. I didn't even know how to properly contract my muscles to lift something. I had no body sense at all.
        p I asked my mate #[a(href='https://www.facebook.com/chrisfinch') Chris] to help me out. He was (is) a complete legend and instantly jumped at the chance to help a friend. We started doing his "half hour of power", lifted weights and ran as often as possible.
        p Well, I tried.
        p I had excuses. Many of them. "But I had a gig last night" or "I'm still too sore from last week". I was a complete pussy and it must have frustrated Chris. But he was strong and pulled me through.
        p As I finally saw some results I overcame my disciplinary problems step by step. I changed my diet and the fat started coming of quickly. I even gained some muscle.
        p I started researching and a whole world of broscience opened up to me. I did programs like P90X, 5x5, and 4-hour body.

        figure( itemprop="image", itemscope, itemtype="https://schema.org/ImageObject" )
          img( src='/assets/fitness-story/2.jpg', alt='Lost 25kg, 20% fat.' )
          meta( itemprop="url" content="http://timbenniks.nl/assets/fitness-story/2.jpg" )
          meta( itemprop="width" content="1280" )
          meta( itemprop="height" content="640" )
          figcaption Lost 25kg, 20% fat.
          
        p The thing that helped me most was my Facebook activity. I posted my weight daily. People would respond if it went up or down and it kept me motivated. This was the first time in my life peer pressure actually had a positive influence on my state of mind.

        +image( '/assets/fitness-story/3.jpg', 'One year in, still 25kg down, 15% fat.' )

        p In April 2014 my wife and I moved to Paris. At that point I was vegan for half a year and I was at my lightest weight since I started training. We had to deal with different stress factors when we arrived and I let go of the strict livestyle a little and gained some weight again. The cheese, wine and French baguettes are too awesome not to enjoy. I'm now 95kg and Paris has officially #[a(href="http://ourparisadventure.com/paris-is-turning-me-into-a-croissant/") turned me into a croissant]. I've just started to get back into shape again and I'm training for the 2015 Paris marathon.

        +image( 'http://ourparisadventure.com/wp-content/uploads/2014/05/enjoy-compressor.jpg', 'Enjoying epic food in the city of awesome.' )

        p I have been grinding away at diets and at the gym for years now and at one point in 2013 I got overtrained. I couldn't perform and only trained harder. Not good. Bouncing back into being a little chubbier has tought me that a balance between enjoying food and diet is important for a happy life.

        p I also blog about #[a(href="http://instagram.com/timsmealpreps") mealprepping].

        +author( '2015-01-20', 'January 20th, 2015' )

        .fb-comments( data-href="http://timbenniks.nl/fitness-story.html" data-numposts="5" data-colorscheme="light" )

block custom_scripts
  div#fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=233758450111961";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));