extends ./layouts/layout
include ./includes/og
include ./includes/image
include ./includes/author

block og
  - var title = "My fitness story"
  - var description = "From fat and sick to slim and happy."
  - var image = "http://timbenniks.nl/assets/fitness-story/2.jpg"
  - var url = "http://timbenniks.nl/fitness-story.html"
  +og( title, description, image, url )

block content
  body.article
    main( role="main" aria-labelledby="aria-content-label", itemscope, itemtype="http://schema.org/Article" )
      include ./includes/nav.jade
      
      header
        meta( itemscope, itemprop="mainEntityOfPage", itemType="https://schema.org/WebPage", itemid=url )
        h1#aria-content-label( itemprop="name" ) My fitness story
        h2( itemprop="headline" ) From fat and sick to slim and happy.

      article
        p Aside from a short period in high school I have always been a chubby kid. When I lived at home my mom made sure I didn't go overboard with food. She stopped me here and there when needed and always made sure we had healthy food on the table.
        p After highschool I started living on my own and became a lot more active as a musician. I got used to a very burgundian lifestyle and started eating all kinds of junk. The free drinks for musicians also didn't help.
        p I have always been interested in muscles and posture but never had the discipline to change myself into something I liked. I quickly turned into a lazy musician. Beer and fast food, either before or after a gig, were the norm. I didn't know any better and ate highly refined foods containing a shitload of ingredients with long and incomprehensible names. Looking back it's unbelievable how little I knew about stuff I put in my body.
        p Being fat was always in the back of my mind and it nagged at me. When I reached 120kg I felt horrible and knew change was needed. I was always sweating, tired and out of breath. I had high blood pressure and was often feeling ill. Diabetus type 2 was creeping up on me.

        figure
          +image_cloudinary( '1_uo4sgm.jpg', 'At my worst Augustus / September 2010, 120kg / 268lbs, 36% fat' )
          figcaption At my worst Augustus / September 2010, 120kg / 268lbs, 36% fat
        
        p Even after this turning point I was still completely inadequate at sports and I didn't have any discipline. I didn't even know how to properly contract my muscles to lift something. I had no body sense at all.
        p I asked my mate #[a(href='https://www.facebook.com/chrisfinch') Chris] to help me out. He was (is) a complete legend and instantly jumped at the chance to help a friend. We started doing his "half hour of power", lifted weights and ran as often as possible.
        p Well, I tried.
        p I had excuses. Many of them. "But I had a gig last night" or "I'm still too sore from last week". I was a complete pussy and it must have frustrated Chris. But he was strong and pulled me through.
        p As I finally saw some results I overcame my disciplinary problems step by step. I changed my diet and the fat started coming of quickly. I even gained some muscle.
        p I started researching and a whole world of broscience opened up to me. I did programs like P90X, 5x5, and 4-hour body.

        figure( itemprop="image", itemscope, itemtype="https://schema.org/ImageObject" )
          +image_cloudinary( '2_wkv8pj.jpg', 'Lost 25kg, ~20% fat.' )
          figcaption Lost 25kg, ~20% fat.
          meta( itemprop="url" content="http://res.cloudinary.com/dwfcofnrd/q_auto/2_wkv8pj.jpg" )
          meta( itemprop="width" content="1440" )
          meta( itemprop="height" content="1000" )
        
        p The thing that helped me most was my Facebook activity. I posted my weight daily. People would respond if it went up or down and it kept me motivated. This was the first time in my life peer pressure actually had a positive influence on my state of mind.

        figure
          +image_cloudinary( '3_homg7q.jpg', 'left: 2012 at ~25% fat – right: 2013 at ~15% fat' )
          figcaption left: 2012 at ~25% fat – right: 2013 at ~15% fat

        figure
          +image_cloudinary( '4_atkbsl.jpg', 'Another progress shot' )
          figcaption Another progress shot

        p In April 2014 my wife and I moved to Paris. At that point I was vegan for half a year and I was at my lightest weight since I started training. We had to deal with different stress factors when we arrived and I let go of the strict livestyle a little and gained some weight again. The cheese, wine and French baguettes are too awesome not to enjoy. In January 2014 I got up to ~95kg and Paris had officially #[a(href="http://ourparisadventure.com/paris-is-turning-me-into-a-croissant/") turned me into a croissant]. 

        p But I wasn't a croissant for long. I started lifting some weights again and slowely started to get back into it. When the marathon passed by our apartment in Rue Saint-Antoine in April 2014 I signed up on the spot. #[a(href="/marathoner.html") I became a long distance runner over night.] New goals were set, and crushed over the proceeding six months.

        figure
          +image_cloudinary( '5_ykqinr.jpg', 'left: 2015 Amsterdam Half Marathon – right: 2015 Paris marathon' )
          figcaption left: 2015 Amsterdam Half Marathon – right: 2015 Paris marathon

        p In 2016 I decided to run another marathon. I was hooked! This time I would do more weight lifting and less running. Balance is important in life. #[a(href="/no-2016-marathon.html") But I did not expect this].

        p I also blog about #[a(href="http://instagram.com/timsmealpreps") mealprepping].

        +author( '2015-01-20', 'January 20th, 2015' )

        .fb-comments( data-href="http://timbenniks.nl/fitness-story.html" data-numposts="5" data-colorscheme="light" )

block custom_scripts
  div#fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=233758450111961";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
