extends ./layouts/layout

block content
  body.home
    main( role="main" )
      include ./includes/johnny.jade

      nav.links
        h1 tim benniks.
        a( href="http://akqa.com" target="_blank" title="I'm a principal web developer at AKQA Paris" ) web developer.
        a( href="./fitness-story.html" title="I love training and eating healthy food" ) fitness enthusiast.
        a( href="http://bluesmotel.nl" target="_blank" title="I'm a guitar player with a passion for Chicago blues" ) musician.
        a( href="./things-parisians-say.html" target="_blank" title="Things Parisians say" ) Parisian.
        a( href="./marathoner.html" target="_blank" title="marathoner" ) marathoner.

      nav.others
        a( href="./fodmap" target="_blank" title="FODMAP tool" ) FODMAP tool.
        a( href="https://github.com/timbenniks/gpx-for-runners" target="_blank" title="GPX parser for runners" ) GPX for runners.

      nav
        a( href="https://github.com/timbenniks" target="_blank" title="My open source work at Github" )
          include ./includes/icons/github.jade

        a( href="https://www.linkedin.com/in/timbenniks" target="_blank" title="My resume at LinkedIn" )
          include ./includes/icons/linkedin.jade

        a( href="https://www.twitter.com/timbenniks" target="_blank" title="I don't really use Twitter :)" )
          include ./includes/icons/twitter.jade

        a( href="https://www.facebook.com/timbenniks" target="_blank" title="Follow my personal life on Facebook" )
          include ./includes/icons/facebook.jade

        a( href="https://www.instagram.com/timsmealpreps" target="_blank" title="I love cooking healthy food." )
          include ./includes/icons/instagram.jade