extends ./layouts/layout

block content
  body.home
    main( role="main" )
      //-include ./includes/johnny.jade

      nav.links
        ul
          li: h1 tim benniks.
          li: a( href="http://valtech.com" target="_blank" title="I'm a lead web-developer at Valtech in Paris" ) technologist.
          li: a( href="http://things-parisians-say.timbenniks.nl/" title="Things Parisians say" ) parisian.
          li: a( href="./fitness-story.html" title="I love training and eating healthy food" ) fitness enthusiast.
          li: a( href="./marathoner.html" title="marathoner" ) marathoner.
          li: a( href="http://bluesmotel.nl" target="_blank" title="I'm a guitar player with a passion for Chicago blues" ) musician.

      nav.external-links
        a( href="https://github.com/timbenniks" target="_blank" title="My open source work at Github" )
          include ./includes/icons/github.jade

        a( href="https://www.linkedin.com/in/timbenniks" target="_blank" title="My resume at LinkedIn" )
          include ./includes/icons/linkedin.jade

        a( href="https://www.twitter.com/timbenniks" target="_blank" title="I don't really use Twitter :)" )
          include ./includes/icons/twitter.jade

        a( href="https://www.facebook.com/timbenniks" target="_blank" title="Follow my personal life on Facebook" )
          include ./includes/icons/facebook.jade

        a( href="https://www.instagram.com/timsmealpreps" target="_blank" title="I love cooking healthy food." )
          include ./includes/icons/instagram.jade

      nav.links.alt
        ul
          li: h2 other things.
          li: a( href="./garmin-vs-nike.html" title="A GPS accuracy comparison between Garmin Forerunner 220 and Nike+ on iPhone." ) Comparison: Garmin vs Nike+
          li: a( href="./no-2016-marathon.html" title="I've decided not to run the Amsterdam marathon this year, meh..." ) I'm not running a marathon in 2016
          li: a( href="http://fodmap.timbenniks.nl" target="_blank" title="FODMAP tool" ) FODMAP allowed foods tool
          li: a( href="https://github.com/timbenniks/gpx-for-runners" target="_blank" title="GPX parser for runners" ) GPX tools for runners
          li: a( href="https://www.visualcv.com/tim-benniks/pdf" target="_blank" title="Not LinkedIn, just a resume" ) PDF version of CV
