extends ./layouts/layout
include ./includes/og
include ./includes/image
include ./includes/author
include ./includes/strava_embed

block og
  - var title = "Why I'm not running the 2016 Amsterdam Marathon"
  - var description = "The 2016 Amsterdam Marathon is closing in and I've decided to stop training. This post explains why."
  - var image = "http://www.timbenniks.nl/assets/marathon/pre-race.jpg"
  - var url = "http://timbenniks.nl/no-2016-marathon.html"
  +og( title, description, image, url )

block content
  body.article
    main( role="main" aria-labelledby="aria-content-label", itemscope, itemtype="http://schema.org/Article" )

      header
        meta( itemscope, itemprop="mainEntityOfPage", itemType="https://schema.org/WebPage", itemid=url )
        h1#aria-content-label( itemprop="name" ) I'm not running a marathon in 2016
        h2( itemprop="headline" ) I've decided not to run the Amsterdam marathon this year, meh...

      article
        p After four and a half months of full on training I've decided not to run the Amsterdam marathon on October 16th 2016. This year I've learnt a valuable life lesson about the balance between the load and capacity of the body while training for an extreme event like a marathon.

        blockquote
          p tl;dr No matter the dedication to training, a great food plan or sheer willpower, circumstances and external stressors will make your body say stop at a certain point. If the load is higher than the capacity for too long the body will get pushed too far and won't be able to cope with the added stress.

        h3 The Load-Capacity Model
        
        p The Load-Capacity model was created in 1990 by A.T.M Bernards and L.H.A Hagenaars, two Dutch physiotherapists. The MDBB (Dutch abbreviation) model is meant to be a conceptual model for physiotherapy. #[a(target="_blank", href="https://www.researchgate.net/publication/224983108_Het_meerdimensionale_belasting-belastbaarheidsmodel_een_conceptueel_model_voor_de_fysiotherapie") This is one of their publications from 1999]. They created this model to add the #[a(href="https://en.wikipedia.org/wiki/Biopsychosocial_model") biopsychosocial] element to physiotherapy treatments.
        
        p: em I just want to caveat that even though there is some merit to the claims made in this post, the Load-Capacity model is generally taught at physiotherapy school, most of the conclusions I ended up with are anecdotal. I'll be using the Load-Capacity model specifically for my personal experience so my writing will be somewhat one-sided.
        
        p On the physical side, the Load-Capacity model is a key concept in preventing and managing running injuries. It is all about understanding the balance between training load and the body's capacity to handle that load. In a nutshell it’s a case of working within your limits and not pushing the training beyond what the body can cope with. 

        p Then there is the mental side. External stressors will also impact the balance between capacity and load. If you keep the load the same but your capacity goes down due to grief or work stress, the body will be pushed over the edge of what the it would normally tolerate.

        p The load-capacity balance is different for everybody and could also change over time. As it did for me. I upped the load in a steady way by training for the marathon but my body's capacity went down due to external stressors which I wasn't able to identify. For one, I have a thick skull but I also wasn't used to the fact that my body would tell me to stop. I could do whatever I wanted to it without stretching or any kind of warmup. If I twisted my ankle the pain would go away in a day.

        figure( itemprop="image", itemscope, itemtype="https://schema.org/ImageObject" )
          img( src='/assets/marathon-2016/marathon-2016.jpg', alt='Pretty cool shoes right?' )
          meta( itemprop="url" content="http://timbenniks.nl/assets/french/french.jpg" )
          meta( itemprop="width" content="880" )
          meta( itemprop="height" content="447" )
          figcaption Pretty cool shoes right? Get them #[a(href='http://altrarunning.com', target='_blanc') here].

        p This year I was always stiff and I had to concentrate way harder to stick to proper form. Suddenly I got little pains like plantar fasciitis and an inflamed Achilles tendon. Even after stretching out my hips and calves it felt like I was running on stilts during morning runs. The pains and stiffness started two months into training. Four months in I started to get extremely tired, I developed a rash and I my IBS started to play up way more often. I also got sick after running longer runs at marathon pace.

        p The things I just described start to happen when the load is surpassing the capacity of the body for a length of time. I slowly got #[a(href='https://en.wikipedia.org/wiki/Overtraining', target='_blanc') overtrained]. As my body could normally handle anything I threw at it, I was a bit oblivious towards the symptoms of overtraining.

        p My sweet wife is a physiotherapist and saw me coming from a mile away. Classic. I needed some time and I also needed many other to tell me that I was overtrained. The cause was a combination of training and external circumstances.

        h3 This is what happened
        
        p I started off well and I was determined to make less mistakes in the preparation this time around. I had plans to have my diet in check from day one and that I would go to the gym as well. Next to this I kept a record of all the things. Training sessions with Strava, sleep analysis and heart rate with Sleepcycle and food and weight with MyFitnessPal.

        p This year I decided to go for a training plan which let me train five times per week. Of these five sessions only three where running. The other two were either biking or a gym session. Running only three times per week meant that I could be flexible with the days as I sometimes work nights or have social events to attend. The plan had me running more miles each run but at a slow pace.

        p The first couple of months everything went well. I actually beat my personal bests on the 5km and 10km quite easily.

        +strava_embed( 'https://www.strava.com/activities/628465080/embed/e82762ebdbe635a09b4e4954c06363d8fdce1be6', 'https://www.strava.com/activities/lunch-run-628465080?utm_campaign=ride_share&utm_content=7655571&utm_medium=widget&utm_source=localhost', 'Best 5km effort.' )
        
        +strava_embed( 'https://www.strava.com/activities/655258214/embed/0dd1f8f54683384a662b71dd6ba0187cfef5b410', 'https://www.strava.com/activities/afternoon-run-655258214?utm_campaign=ride_share&utm_content=7655571&utm_medium=widget&utm_source=localhost', 'Best 10km effort.' )
        
        p And I also found back my love for cycling. I bought the #[a(href="http://www.decathlon.fr/btwin-velo-route-triban-500-id_8331913.html", target="_blanc") cheapest] bike with the best reviews. It has a Microshift group set which isn't as precise but works very well if maintained properly.

        +strava_embed( 'https://www.strava.com/activities/666441290/embed/cd96a74935417e09392afd1d3ef5d4f11dda62c3', 'https://www.strava.com/activities/666441290', 'Riding a bike is awesome.' )

        p Two and a half months in things started to feel a bit painful, especially after running. I realise now that the stress I experienced outside of training impacted my capacity to handle the increased training load.

        p A couple of things happened at the same time. We've had a cancer scare in the family for which I went to Amsterdam for a while. Things are better now but I've had a lot to worry about. Right after I came back to Paris my wife miscarried. We've been trying to have a baby for a long time and each time it fails it's like getting hit in the face.

        p On top of these two things I found out that I have #[a(href='https://en.wikipedia.org/wiki/Irritable_bowel_syndrome', target='_blanc') IBS]. I've probably had it for a long time but it started to flare up around March this year. I've been trying to find the right diet and it's not easy. 

        p It seems that the absorption of nutrients isn't working well due to the inflammation in my gut. I had to try to eat less foods that contain #[a(href='https://en.wikipedia.org/wiki/FODMAP', target='_blanc') FODMAPs] so that my insides would relax a bit. Having constant belly ache and bad sleep as a result does not help the capacity of the body to deal with an increased training load. I made a little #[a(href='http://timbenniks.nl/fodmap', target='_blanc') tool] to see which foods are allowed on the low FODMAP diet.

        p Funnily enough I felt quite good during runs. Well, except when it was hot. I hate warm humid weather and have I trouble training in it. My best feature by far is sweating. It was usually after the runs that I would suddenly feel the pain my body was in. Willpower is amazing. I think I could actually run the marathon now, on sheer brain juice. It would do horrible things to my body though.

        p The run below seems to have been going very well but I got sick after and couldn't train for a week after. My whole body ached and I slept all weekend.

        +strava_embed( 'https://www.strava.com/activities/683549355/embed/adfe33ac5c11c8b08966e9f91ac976b91139ebba', 'https://www.strava.com/activities/morning-run-683549355?utm_campaign=ride_share&utm_content=7655571&utm_medium=widget&utm_source=localhost', 'Half marathon at marathon pace' )

        h3 What I have learnt
        p No matter the dedication to training, a great food plan or sheer willpower, circumstances and external stressors will make your body say stop at a certain point. If the load is higher than the capacity for too long the body will get pushed too far and won't be able to cope with the added stress.

        p It took 20 years to start enjoying sports. I lost a lot of weight and got hooked. I could throw anything at my body and it would bounce back. Now it doesn't and I have to accept that. This summer season of training tought me to be humble and to listen both my peers (my wife mainly, as she is always right) and my body.

        +image( '/assets/marathon-2016/marathon-2016-2.jpg', 'Training in Amsterdam' )

        +author( '2016-09-13', 'September 13th, 2016' )

        .fb-comments( data-href="http://timbenniks.nl/no-2016-marathon.html" data-numposts="5" data-colorscheme="light" )

block custom_scripts
  div#fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=233758450111961";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
