.french
  .tweet 
    flex-direction: column
    display: flex
    margin 1em 0

    .twitter-tweet
      order: 1
      width: 100% !important

    .explanation
      order: 2
      width: 100% !important