@import '_text'
@import '_layout'

@import '_home'
@import '_article'

@import '_marathon'

#map
  position: relative
  width: 100%
  height: 400px

@media screen and (min-width: 500px)
   @import '_bigger'
