doctype
html( lang="en" )
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		meta( name="viewport" content="width=device-width,initial-scale=1,user-scalable=1,minimum-scale=1,maximum-scale=1" )

		meta( name="author" content="Tim Benniks" )
		meta( name="description" content="I am a web-developer with a passion for simple interfaces on complex websites. I'm also a guitarist and a fitness enthousiast." )
		meta( name="keywords" content="web-developer, interfaces, fitness, guitarist, BluesMotel, AKQA" )
	
		title Tim Benniks, webdeveloper, guitarist and fitness enthusiast

		link( rel="stylesheet" href="./css/styles.css" )
	body.article
		main( role="main" aria-labelledby="aria-content-label" )
			svg( class="johnny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve" )
				path( d="M241.888,175.27 c0.091-1.763,0.073-3.459-0.051-5.315c-14.666,3.224-7.177-17.058-12.481-24.962c-1.352-1.352-3.641-0.417-5.409-0.728 c8.113-13.627,0.79-30.482-0.354-45.044c-16.539-17.266-31.786-35.982-30.85-59.488c1.873-4.057,4.681-7.698,9.361-8.633 c8.12,1.562,15.089,6.243,22.578,9.363c11.025,1.456,18.201,11.857,28.916,14.042c14.77,9.984,31.307,19.137,45.973,31.203 c-1.562,17.162-11.336,32.763-18.723,48.365c8.217,12.065,15.188,24.546,21.113,37.444c23.924,0.521,46.6,5.825,63.136,22.674 c12.481,32.763-15.394,56.687-15.602,88.098c-4.16,23.195-4.785,44.934-5.41,69.479c13.521,9.776,23.612,23.09,31.204,37.444 c5.097,16.849,1.04,35.778-5.513,50.653c8.735-2.705,5.513,7.177,6.241,11.754c8.112-1.979,20.594-2.812,28.082,3.12 c4.161,2.807,8.529,6.968,7.802,12.479l-7.802,1.562h-38.173c-1.56-2.08-2.807-4.994-4.68-6.24 c-2.496,1.039-1.247,3.535-1.562,5.407l-14.04,0.833l-0.833-14.041c-3.12-0.521-7.177,1.246-9.36-1.562v-13.312h10.193 c3.952-16.645-2.081-32.35-15.603-41.294c-6.138-2.288-11.857-7.488-18.722-5.513c-16.33,10.609-22.261,29.123-20.282,47.639 c9.152-0.938,5.098,10.505,6.24,16.328l-10.92,1.561l-1.562,10.194h-15.603c-0.104-0.833,0.104-1.873-0.832-2.394 c-2.705-0.938-1.872,2.184-3.12,3.12h-49.094c1.249-8.425,7.801-13.938,14.77-18.723c6.553-1.561,13.938-0.729,19.553,2.394 c5.928,0.416,1.354-7.801,3.85-10.921l12.48-1.561c-7.802-21.843-5.307-48.886,8.633-67.087 c-18.408-14.354-28.915-35.363-42.957-52.317c-1.455-2.913-2.6-6.138-5.408-8.528c-14.874,10.297-31.411,16.433-47.637,23.402 c-3.017,10.088-7.697,19.45-14.042,28.083c-7.385,6.968-11.753-10.506-16.33,0c-5.201,1.562-9.464-1.978-10.921-6.24 c1.144-9.882-12.169-2.811-14.042-11.755c-3.848-6.969,7.593-13.418-0.832-19.449c-0.832-9.36,4.369-17.578,12.481-21.843 c7.697-1.56,13.001,2.704,20.282,2.288c11.961-16.643,23.818-33.389,38.275-49.093c-18.721-4.267-34.323-15.602-51.485-23.403 c-11.024,4.265-22.986,1.56-34.324,2.288c-11.129-0.625-6.241-13.21-14.042-17.162c3.745-9.569-7.697-18.619,0.728-27.251 c6.241-3.952,13.417,1.56,18.722-4.681c6.552-0.937,15.498-5.305,21.114,0.729c6.033,3.744,5.617,10.088,10.921,14.041 c24.547,0.416,47.637-4.992,69.375,4.681c7.281-7.073,15.082-15.914,24.234-20.282c0.619-1.72,1.124-3.495,1.509-5.328 c0.433-2.063,0.711-4.199,0.826-6.407" )
			
			header
				h1( id="aria-content-label") My fitness story
				
			article
				p Aside from a short period in high school I have always been a chubby kid. When I still lived at home my mom used to make sure I didn't go overboard with food. She stopped me here and there when needed and always made sure we had delicious and healthy food on the table.

				p After high school I started living on my own and became a lot more active as a musician. I got used to a very burgundian lifestyle and started eating all kinds of junk. The free drinks for musicians also didn't help.

				p I have always been interested in muscles and posture but never had the discipline to change myself into something I liked. I quickly turned into a lazy musician. Free drinks and fast food, either before or after a gig, were the norm. I didn't know any better and ate highly refined foods with a shitload of ingredients with long and incomprehensible names. It was easy and fast.

				p Being fat was always in the back of my mind and it nagged at me. When I reached 115kg I felt horrible and knew change was needed. Always sweating, tired and out of breath. I had high blood pressure and was often feeling ill.

				p Even after this turning point I was still completely inadequate at sports and I didn't have any discipline. I didn't even know how to properly contract my muscles to lift something. I had no body sense at all.

				p I asked my mate #[a (href='https://www.facebook.com/chrisfinch') Chris] to help me out. He was (is) a complete legend and instantly jumped at the chance to help a friend. We started doing his "half hour of power", lifted weights and ran as often as possible.

				p Well, I tried.

				p I often had excuses. "But I had a gig last night" or "I'm still too sore from last week". I was such a pussy and it must have frustrated Chris. But he was strong and pulled me through.

				p As I finally saw some results I overcame my disciplinary problems step by step. I changed my diet and the fat started coming of quickly. I even gained some muscle.

				p I started researching and a whole world of broscience opened up to me. I did programs like P90X, 5x5, and 4-hour body.

				p The thing that helped me most was my Facebook activity. I posted my weight daily. People would respond if it went up or down and it kept me motivated. This was the first time in my life peer pressure actually had a positive influence on my state of mind.

				p I experimented with different diets and hacked my body just to see how it would respond. My current weight (November 2012) is 89kg at 14% fat. I intent to bring these numbers down to 85kg at ~10% fat in the coming year.

				p I also want to run a half marathon in 2013. I've been running for more than a year and progress is slow. It feels like my body is to heavy for the sport. But I will persist and hopefully run the 21km in under two hours.


		script( src="./js/app.js" )
