doctype
html( lang="en" )
	head
		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		meta( name="viewport" content="width=device-width,initial-scale=1,user-scalable=1,minimum-scale=1,maximum-scale=1" )

		meta( name="author" content="Tim Benniks" )
		meta( name="description" content="The 2015 Paris Marathon" )
		meta( name="keywords" content="Marathon, paris" )

		meta( name="google-site-verification" content="El5Wtr19CHQY1u_sQOjbuusrXqYCt6I6n3OJSyZEPAg" )

		link( rel="apple-touch-icon-precomposed" href="http://timbenniks.nl/assets/favicon.png" )
		link( rel="apple-touch-icon-precomposed" sizes="72x72" href="http://timbenniks.nl/assets/favicon.png" )
		link( rel="apple-touch-icon-precomposed" sizes="114x114" href="http://timbenniks.nl/assets/favicon.png" )
		link( rel="apple-touch-icon-precomposed" sizes="144x144" href="http://timbenniks.nl/assets/favicon.png" )
		link( rel="shortcut icon" href="http://timbenniks.nl/assets/favicon.png" )

		meta( property="og:title" content="The 2015 Paris Marathon" )
		meta( property="og:image" content="http://timbenniks.nl/assets/3.jpg" )
		meta( property="og:site_name" content="Tim Benniks, web-developer" )
		meta( property="og:description" content="My frst marathon experience" )

		title The 2015 Paris Marathon

		link( rel="stylesheet" href="./css/styles.css", "inline" )
	body.article
		main( role="main" aria-labelledby="aria-content-label" )
			svg( class="johnny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="500px" height="500px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve" )
				path( d="M241.888,175.27 c0.091-1.763,0.073-3.459-0.051-5.315c-14.666,3.224-7.177-17.058-12.481-24.962c-1.352-1.352-3.641-0.417-5.409-0.728 c8.113-13.627,0.79-30.482-0.354-45.044c-16.539-17.266-31.786-35.982-30.85-59.488c1.873-4.057,4.681-7.698,9.361-8.633 c8.12,1.562,15.089,6.243,22.578,9.363c11.025,1.456,18.201,11.857,28.916,14.042c14.77,9.984,31.307,19.137,45.973,31.203 c-1.562,17.162-11.336,32.763-18.723,48.365c8.217,12.065,15.188,24.546,21.113,37.444c23.924,0.521,46.6,5.825,63.136,22.674 c12.481,32.763-15.394,56.687-15.602,88.098c-4.16,23.195-4.785,44.934-5.41,69.479c13.521,9.776,23.612,23.09,31.204,37.444 c5.097,16.849,1.04,35.778-5.513,50.653c8.735-2.705,5.513,7.177,6.241,11.754c8.112-1.979,20.594-2.812,28.082,3.12 c4.161,2.807,8.529,6.968,7.802,12.479l-7.802,1.562h-38.173c-1.56-2.08-2.807-4.994-4.68-6.24 c-2.496,1.039-1.247,3.535-1.562,5.407l-14.04,0.833l-0.833-14.041c-3.12-0.521-7.177,1.246-9.36-1.562v-13.312h10.193 c3.952-16.645-2.081-32.35-15.603-41.294c-6.138-2.288-11.857-7.488-18.722-5.513c-16.33,10.609-22.261,29.123-20.282,47.639 c9.152-0.938,5.098,10.505,6.24,16.328l-10.92,1.561l-1.562,10.194h-15.603c-0.104-0.833,0.104-1.873-0.832-2.394 c-2.705-0.938-1.872,2.184-3.12,3.12h-49.094c1.249-8.425,7.801-13.938,14.77-18.723c6.553-1.561,13.938-0.729,19.553,2.394 c5.928,0.416,1.354-7.801,3.85-10.921l12.48-1.561c-7.802-21.843-5.307-48.886,8.633-67.087 c-18.408-14.354-28.915-35.363-42.957-52.317c-1.455-2.913-2.6-6.138-5.408-8.528c-14.874,10.297-31.411,16.433-47.637,23.402 c-3.017,10.088-7.697,19.45-14.042,28.083c-7.385,6.968-11.753-10.506-16.33,0c-5.201,1.562-9.464-1.978-10.921-6.24 c1.144-9.882-12.169-2.811-14.042-11.755c-3.848-6.969,7.593-13.418-0.832-19.449c-0.832-9.36,4.369-17.578,12.481-21.843 c7.697-1.56,13.001,2.704,20.282,2.288c11.961-16.643,23.818-33.389,38.275-49.093c-18.721-4.267-34.323-15.602-51.485-23.403 c-11.024,4.265-22.986,1.56-34.324,2.288c-11.129-0.625-6.241-13.21-14.042-17.162c3.745-9.569-7.697-18.619,0.728-27.251 c6.241-3.952,13.417,1.56,18.722-4.681c6.552-0.937,15.498-5.305,21.114,0.729c6.033,3.744,5.617,10.088,10.921,14.041 c24.547,0.416,47.637-4.992,69.375,4.681c7.281-7.073,15.082-15.914,24.234-20.282c0.619-1.72,1.124-3.495,1.509-5.328 c0.433-2.063,0.711-4.199,0.826-6.407" )

			header
				h1#aria-content-label The 2015 Paris Marathon
				h2 My frst marathon experience.

			article
				p Exactly one year ago, when we had just moved to Paris, the marathon passed by our appartment in Rue Saint-Antoine. Seeing all these people swooshing by impressed me so much that I signed-up for the 2015 marathon on the spot. The goal was set, the easy part was over.
				
				figure
					img(src='http://ourparisadventure.com/wp-content/uploads/2014/04/marathon.jpg', alt="2014. The Paris marathon in Rue Saint-Antoine.")
					figcaption 2014. The Paris marathon in Rue Saint-Antoine.

				p I gave myself five months to conquer the beast. 42.195 kilometres. After running on and off for a couple of years it was time to get serious. As I work for #[a(href='http://akqa.com/work') AKQA] I naturally chose to train with the nike+ app and all the related products.
				p Nike's marathon training program was brutal. Even at the rookie level it made me run five times a week from the get-go. After living the good life for eight months in Paris both my endurance and cardio vascular strength were shit. It's safe to say I was happy that the distances were short for the first couple of weeks.

				p I didn't have any specific goals in mind, just general stuff like: "I want to get a bit lighter so the running get's easier" or "I'd love to set a new half marathon personal best at one point". I trusted the rigorous training schedule would get me there eventually.
				p
					em It didn't. 
					| The training was so intense that I had skip workouts and I had to start experimenting with food to figure out how I could get my legs ready for the next run. My body could just not cope with the sheer amount of kilometers I had to run each week.

				h3 January
				p After two months of pain I had finally found a balance. Turns out that eating super low fat and high carb was the best for for recovery. I was basically eating according to the 80/10/10 principle. 80% carbs, 10% fats, 10% protein. I'm not preaching this way of eating, it just served me well personally.

				figure
					img(src='/assets/marathon/fruit.jpg', alt="Fruit fruit fruit")
					figcaption Fruit fruit fruit

				p To achieve eating this macro ratio I had to cut out all animal products. If I ate too much fat on a rest day, like when you go out to dinner and you don't want to be the asshole who can't eat anything, I would have heavy legs the next day.

				p I started eating copious amounts of fruit, rice, pasta, quinoa and veggies. My brain started functioning ten times better and I didn't even think about coffee anymore. January was awesome. I ran pain free and the long distances started to become enjoyable. Good times. I ran 147km that month. This might not seem a lot to seasoned runners but I came from ~50km a month. I started a new chapter in my running career.

				h3 February
				p We went on a ski trip in the beginning of February. I was an amazing holiday with loads of skiing, good food and laughs. I did some workouts in the gym and a proper mountain walk. I really hoped I hadn't lost my running gains.

				figure
					img(src='/assets/marathon/ski.jpg', alt="Wengen, Feb 2015")
					figcaption Wengen, Feb 2015

				p The first monday back I had a nasty cough but decided to at least try my fast 8km run I had planned for that day. Bad decision. Over the course of the week I developed a brocnchitis and both the doctor and my wife (the boss and an awesome fysiotherapist) forbade me to run the following two weeks.

				p I slept a lot and kept on eating well and as soon as the illness lifted I started running small short distances again. I cursed my way through the first week. Even though the running literally hurt, my pace was still fast.

				p In february I ran the awesome amount of 37.98km over five runs. The last of the five was the most painful 15km run of my life. We'd strolled around "Le Salon d'Agriculture" for three hours before. We tasted wines, ate awesome cheeses and especially did not drink any water. Rookie mistake. Lactic acid legs for days!

				h3 March
				p Back to awesome. I ran 181km in 4 weeks. An absolute record month in my book. I had an amazing run in Amsterdam on which my whole family followed me by bike. I also ran personal bests on the 5km, 10km, 15km and 21km. I decided to drop the Nike+ program as I had missed too much the month before. This was a smart move. The Nike+ would have burnt me out.

				p I had been in training for 4 months by now and I had been sick the month before. The exhaustion was setting in a bit. I didn't particularly feel it in my legs, but I started having problems staying focused on evening runs. One time I had to jump aside while a policeman was arresting someone. I flipped my ankle and had to walk home for an hour. 

				figure
					img(src='/assets/marathon/hurt.jpg', alt="Frozen green beans FTW.")
					figcaption Frozen green beans FTW.

				p I felt stupid for being distracted. Even though I had super light shoes without much cushioning I stopped being in touch with the ground I was running on. Sounds like I'm a hippy aye? It's a runners thing.

				h3 April
				p Only two weeks left. I did a 27km run in a very busy, rainy and hilly Paris. After that I was so exhausted that I decided to start my tapering period a week early. I thought I'd hurt my feet too much and suddenly got very nervous. My marathon veteran colleagues told me this is normal and I should just chill out.

				p I only ran a handful of runs up until the big day. Time for the tapering period. The thing I liked most about this was the carbo-loading. My food intake doubled in the week before the big race. #CTFU.

				figure
					img(src='/assets/marathon/carbo-load.jpg', alt="Carb the fuck up...")
					figcaption Carb the fuck up...


				h3 D-Day
				p I was so nervous I hardly even looked at the enormous amount of runners around me. I was standing on the Champs Elysees with 50.000 other athletes. This was going to be the most epic challange of my life. 
				
				figure
					img(src='/assets/marathon/pre-race.jpg', alt="Good times")
					figcaption Good times

				p The first bit felt like heaven. Especially because my mate #[a(href='https://www.facebook.com/chrisfinch') Chris] had just gave me an amazing pop-talk over the phone. The Champs Elysees was mine and mine alone. Turns out I clocked the first kilometer at a 6:12 pace. Slow as fuck but a nice start to a long day. After that I slowly picked up the pace to a nice average between 5:25 and 5:35.
				p Around the 7km point my awesome friend #[a(href='https://www.facebook.com/mademoiselle.klug') Henrike] spotted me from the sidelines and joined me for about 1.5km. We picked up the pace and race had properly started.
				p It was super warm so I drank water every chance I got. My training had been during winter time so I was used to running with a maximum temperature of 10 degrees celcius. Even though it was warm I ran a great half marathon (for me at least, 01:52:34). The heat had silently sneaked up on me at kilometer 22 the wall hit me like a hammer.
					
				h3 The Wall
				p The wall is really the biatch people say she is. I could not even put one foot in front of the other anymore. It took me half an hour to stumble to the next food station. It took 35 minutes to run 3km. I had some water, a sugar cube, a GU gel and a slice of mandarin. Obviously this was way too much so I felt sick for the next 5km. My brain was telling me to stop but I just couldn't let go.
				p The following kilometers did not go any better. I managed to find a happy medium in between running and walking. My nike+ app was all over the place and wasn't accurate at all anymore. At one point I just turned it off and upped my Spoitfy volume. At that exact moment Motörhead came on and I felt my heart skip a beat. The race was back on. 
					em For 2km. 
					| After that I went back to my previous state. 
				p During the five months I trained my wife was always there for me. She gave me tips and picked me back up when I had hit a low point. When I saw her at kilometer 30 I couldn't be happier. I gave her a quick kiss and a smail and I was on my way again.

				p Just before hitting the bois de boulogne I became captain slow. I was having a real rough patch when I heard people shout my name. These people were #[a(href="https://www.facebook.com/photo.php?fbid=10153775712979392&set=a.10151354689589392.575668.787934391&type=1&theater") Marie and her son Adrian]. It's great to have the support of your friends. It made me start running again. As it turns out, my wife had been sending loads of photo's to my family back in Amsterdam. They had been following my every move. 

				h3 Bois de Boulogne
				P Bois de Boulogne was truly intense. They call it "the march of the deadth" and rightfully so. It starts at kilometer 35, there are hardly any supporters and it's mostly uphill.
				p I did the "pain shuffle" for the last 7km. The pain shuffle means that you can't really bent your legs anymore but you still run. In my case, stumbling without falling. I ran from km sign to km sign without even hearing my music.
				p When I saw the 40km sign I decided to not walk anymore and I did whatever it took to make that happen. At kilometer 41 I noticed that a lot of the faster runners were coming back to show us their medals and cheer us on. There was an amzing feeling of companionship in the pack of runners. 
				p At kilometer 42 I saw the finish AND my wife at the same time. It was finally over. I didn't even bother to sprint.

				p It took me four hours and fourty six minutes. A total pain train. While riding home on the metro I felt a little shit because I walked so much. Should I have gone deeper? But while writing this piece, pride is taking over. I actually did this. My first marathon in the heat in under five hours. #putain.

				figure
					img(src='/assets/marathon/post-run.jpg', alt="Proud")
					figcaption Proud

				h3 Some numbers
				ul
					li I ran 615.14km over 67 runs with an average pace of 05:42
					li My average distance was 9.18km per run
					li I went from 95 to 87 kilos
					li I slept 7h 50m on average
					li I ate 1840kcal on average (probably not enough)
					li I did 12609 steps a day on average

				<div class="fb-comments" data-href="http://timbenniks.nl/marathoner.html" data-numposts="5" data-colorscheme="light"></div>

				
		script.
			document.addEventListener("DOMContentLoaded",function(){var e=document.querySelector(".johnny path");length=e.getTotalLength();e.classList.remove("go");e.style.strokeDasharray=length+" "+length;e.style.strokeDashoffset=length;e.getBoundingClientRect();e.classList.add("go");e.style.strokeDashoffset="0"})
			var _gaq=[['_setAccount','UA-6797812-3'],['_trackPageview']];
			(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()

		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=233758450111961";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));